.form {
  display: flex;
  flex-direction: column;
}

.btn {
  border-color: transparent;
  background-color: #535eaa;
  color: #e2e6fa;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 32px;
}

.btn:hover,
.btn:focus {
  background-color: #434d8d;
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
}

.label:not(:first-child) {
  margin-top: 16px;
}

.input {
  margin-top: 16px;
  border: 1px solid #9498b1;
  border-radius: 4px;
  padding: 4px;
}

.input:focus,
.input:hover {
  border-color: #434d8d;
}
